/* © 2021 HANAOKA SHARYO CO.,LTD All Rights Reserved. */

@charset "UTF-8";

nav {
	margin-left: auto;
}
.done_button {
	text-decoration: none;
	padding: 0 30px;
	font-size: 22px;
	color: #FFFFFF;
	border: solid #FFFFFF;
	border-width: 0 0 0 1px;
}

header {
	width: 100%;
	height: 60px;
	background: #202020;
	padding: 20px 0;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	box-shadow: -10px 3px 10px rgba(0, 0, 0, 0.9)
}
.head_img {
	height: 30px;
	padding: 0 30px;
	display: flex;
	align-items: center;
	border: solid #FFFFFF;
	border-width: 0 1px 0 0;
}
.head_text_block {
	height: 40px;
	box-sizing: border-box;
}
.head_text {
	margin: 0 auto;
	padding: 0 30px;
	height: 40px;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}